#Logo {
    width: 31em;
}

.App {
    text-align: -webkit-center;
}

.Nav {
    padding: 0px;
    margin: 0px;
}

.App-header {
    height: 12rem;
    background-color: #88292F;
}

.App-title {
font-family: 'Rammetto One', cursive;
}