.gMap {
    border-width: 1px;
    padding: 200px;
    display: inline-block;
}

.User-title {
    color: white;
}

.landingPage {
    color: white;
}

input {
    color: white;
}

.apiBox {
    padding: 0px;
    margin: 0px;
}

.apiData {
    margin-bottom: 10px;
    color: white;
}

.statusInfo {
    margin-top: 100px;
}

.restoData {
    color: white;
}

.yelpInfo {
    margin: 0px;
    font-weight: bold;
}

.iconRed {
    color: #b71c1c;
}

.iconGreen {
    color: #1b5e20;
}

.iconYellow {
    color: #ffc400;
}