.gMap {
    border-width: 1px;
    border-style: solid;
    padding: 200px;
    display: inline-block;
}

.apiBox {
    border-width: 1px;
    border-style: solid;
    padding: 0px;
    margin: 0px;
}

.apiData {
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
}

.restoData {
    border-width: 1px;
    border-style: solid;
}

.yelpInfo {
    margin: 0px;
    font-weight: bold;
}